:root {
  --body-c: #4e5469;
  --body-shadow-c: #262c40;
}

.blue {
  background: var(--body-c);
}

.blue-shadow {
  background: var(--body-shadow-c);
}

.body {
  grid-area: 24 / 13 / span 10 / span 11;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(11, 1fr);

  z-index: 1;
}

.bbox1 {
  grid-area: 1 / 5 / span 1 / span 6;
}

.bbox2 {
  grid-area: 2 / 4 / span 1 / span 8;
}

.bbox3 {
  grid-area: 3 / 3 / span 1 / span 9;
}

.bbox4 {
  grid-area: 4 / 3 / span 1 / span 9;
}

.bbox5 {
  grid-area: 5 / 2 / span 1 / span 10;
}

.bbox6 {
  grid-area: 6 / 2 / span 1 / span 10;
}

.bbox7 {
  grid-area: 7 / 1 / span 1 / span 10;
}

.bbox8 {
  grid-area: 8 / 1 / span 1 / span 10;
}

.bbox9 {
  grid-area: 9 / 5 / span 1 / span 2;
}

.bbox10 {
  grid-area: 10 / 6 / span 1 / span 1;
}

.bbox11 {
  grid-area: 9 / 8 / span 1 / span 2;
}

.bbox12 {
  grid-area: 10 / 8 / span 1 / span 1;
}

.bbox13 {
  grid-area: 1 / 9 / span 1 / span 1;
}

.bbox14 {
  grid-area: 2 / 10 / span 1 / span 1;
}

.bbox15 {
  grid-area: 2 / 5 / span 1 / span 2;
}

.bbox16 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.bbox17 {
  grid-area: 4 / 5 / span 1 / span 1;
}

.bbox18 {
  grid-area: 5 / 3 / span 1 / span 2;
}

.bbox19 {
  grid-area: 7 / 2 / span 1 / span 2;
}

.bbox20 {
  grid-area: 1 / 7 / span 1 / span 1;
}

.bbox21 {
  grid-area: 3 / 7 / span 1 / span 1;
}

.bbox22 {
  grid-area: 3 / 9 / span 2 / span 1;
}

.bbox23 {
  grid-area: 4 / 6 / span 1 / span 1;
}

.bbox24 {
  grid-area: 5 / 7 / span 1 / span 1;
}

.bbox25 {
  grid-area: 5 / 10 / span 1 / span 1;
}

.bbox26 {
  grid-area: 6 / 5 / span 1 / span 2;
}

.bbox27 {
  grid-area: 7 / 4 / span 1 / span 1;
}
